<h1>Tours Agency</h1>
<p></p>

<div class="details centered">
  <ul>
    <li><%= link_to 'Clients', clients_path, class: "button-link" %></li>
    <li><%= link_to 'Tours', tours_path, class: "button-link" %></li>
    <li><%= link_to 'Bookings', bookings_path, class: "button-link" %></li>
  </ul>
</div>