html {
    background-color: #bef0f7;
}

h1 {
    font-size: 48px;
    text-align: center;
}

table {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    border-collapse: collapse;
    font-size: 18px;
}

th,
td {
    border: 1px solid #000;
    padding: 10px;
    text-align: left;
    background-color: #fff;
}

.return-button-container {
    position: absolute;
    top: 40px;
    right: 40px;
}

.return-button {
    background-color: #6c757d;
}

.return-button:hover {
    background-color: #5a6268;
}


.button-link {
    display: block;
    width: 200px;
    margin: auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}

.button-link:hover {
    background-color: #0054ad;
}

.back-button {
    margin-top: 20px;
}

.centered {
    text-align: center;
}

.model-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-submit {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.form-submit:hover {
    background-color: #0056b3;
}

.details {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: auto;
}

.details ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.details li {
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

.details li:last-child {
    border-bottom: none;
}

.actions {
    margin-top: 20px;
}